@require './palette.styl';

footer.footer {
    background: transparentify(darken($secondaryColor, 60%), 70%) !important;
}

.search-box input {
    border-color: lighten($accentColor, 80%) !important;
}

.ui-post-image {
    height: 20rem !important;
    background-position: center;
}

.post-tags {
    margin-bottom: 3rem;

    .blog-tag {
        border: 1px solid $accentColor !important;
    }
}

h1 {
    font-family: serif;
}

svg.go-to-top {
    bottom: 8rem !important;
}