@require './palette.styl';

footer.footer {
    background: transparentify(darken($secondaryColor, 60%), 70%) !important;
}

header.home-hero {
    h1 {
        color: $accentColor !important;
        text-transform uppercase
    }

    h2 {
        color: black !important;
        font-family: sans-serif;
        border-bottom: none;
    }
}

.search-box input {
    border-color: lighten($accentColor, 80%) !important;
}

.ui-post-image {
    height: 20rem !important;
    background-position: center;
}

.post-tags {
    margin-bottom: 3rem;

    .blog-tag {
        border: 1px solid $accentColor !important;
    }
}

svg.go-to-top {
    bottom: 8rem !important;
}