@require './palette.styl';

footer.footer {
    background: transparentify(darken($accentColor, 50%), 70%) !important;
}

.ui-post-image {
    height: 20rem !important;
    background-position: center;
}